/* colores
Paleta de Colore

Azul Oscuro #464655
Gris #94958B
Celeste 1 #B7B6C1
Celeste 2 #D5CFE1
Clarito #EDDFEF
*/
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Caveat:wght@600&family=Poppins:wght@200;300;400;500&display=swap');
/* font-family: 'Poppins', sans-serif; */

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.header-flex{
background-color: #464655;
display: flex;
flex-direction: column;
align-items: center;
/*width: 200vh;*/
}

.header-flex a{
    color: #B7B6C1;
    text-decoration: none;
}

.img-logo{
    width: 150px;
    margin: 0px;

}

.header-flex ul{

    display: flex;
    list-style: none;    
    /*width: 100vw;*/
}

.header-flex li{
    margin: 1rem;
}

/*CONTENIDO PRINCIPAL*/

main{
    background-color:#e8e7ed;
}

.banner-hero{
    background-image: url('../recursos/img-hero.jpeg');
    height: 70vh;
    background-size: cover;
}

.banner-hero h1{
    text-align: center;
    color: #464655;
    position:relative;
    top: 81%;
}

.nosotros{
       text-align: center;
    padding-top: 3rem;
    height: 30vw;
}

.nos-h1{
    margin: 1rem;
    
}


.producto{
    width: 50vw;
    text-align: center;
    margin: 2px;
    font-size: 15px;
margin-top: 1rem;
}

.producto img{
    width: 40vw;

}

/*GRILLA DE PRODUCTOS*/

.productos-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-around;
   margin-top: 3rem;


}

/*Footer*/

.footer{
    background-color: #B7B6C1;
    text-align: center;
    padding: 1rem;
   
}

.footer p{
    text-align: center;
}

.footer a{
    color: black;
}

@media (min-width: 768px){

    .header-flex{
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
    }
}